.header {
    display: flex;
    height: 9vh;
    width: 100vw;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    border-bottom: 2px solid black ;
    position: fixed;
    z-index: 2;

}

.middle {
    display: flex;
    min-height: 81vh;
    width: 100vw;
    /* background-color: rgb(246, 214, 175); */
    position: absolute;
    top: 9vh;
}
.main {
    display: flex;
    height: auto;
    width: 95vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(240, 158, 8); */
    font-family: Roboto, Arial, sans-serif;
    color: .202124;
    position: relative;
    left: 5vw;
    top: 3vh;
}

