.body {
    display: flex;
    background: #fff;
    direction: ltr;
    font-size: 100;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    height: 120vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main {
    display: flex;
    height: 85%;
    width: 55%;
    border-radius: 2%;
    border: 2px solid #D4D6DA;
    justify-content: space-around;
    align-items: center;
}

#formcontainer {
    display: flex;
    height: 85%;
    width: 55%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}

#googleimg {
    display: flex;
    justify-content: start;
    height: 6%;
    width: 100%;
    /* border: 2px solid gold; */
}

#CreateUrGoogleAccount {
    display: flex;
    justify-content: start;
    height: 6%;
    width: 100%;
    /* border: 2px solid gold; */
    font-size: 25px;
    line-height: 1.3333;
    color: #202124;
    word-break: break-word;
}



#twoinputfield {
    display: flex;
    justify-content: space-between;
    height: 8%;
    width: 100%;
    /* background-color: yellow; */
}

#firstname {
    height: 65%;
    width: 48%;
    border: 2px solid #D4D6DA;
    border-radius: 5px;
    font-size: 120%;
}
#lastname {
    height: 65%;
    width: 48%;
    border: 2px solid #D4D6DA;
    border-radius: 5px;
    font-size: 120%;
}

#username {
    height: 78%;
    width: 100%;
    border: 2px solid #D4D6DA;
    border-radius: 5px;
    font-size: 120%;
}

#twoinputfield1 {
    display: flex;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    /* background-color: yellow; */
}

#password {
    height: 75%;
    width: 48%;
    border: 2px solid #D4D6DA;
    border-radius: 5px;
    font-size: 120%;
}
#confirmpassword {
    height: 75%;
    width: 48%;
    border: 2px solid #D4D6DA;
    border-radius: 5px;
    font-size: 120%;
}
#captionfield{
    display: inline;
    color: #5f6368;
    font-size: 100%;
    line-height: 1.4286;
    word-break: break-word;
    /* background-color: tomato; */
}
#useMyEmail{
    display: flex;
    height: 7%;
    width: 100%;
    align-items: start;
    font-size: 100%;
    font-weight: 600;
    color: #1a73e8;
}
#checkbox{
    height: 100%;
    width: 5%;
    
}

#signininstead_Next {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 90%;
}

#signininsteadbutton {
    display: flex;
    height: 70%;
    width: 50%;
    /* background-color: violet; */
    align-items: center;
    font-size: 100%;
    font-weight: 600;
    color: #1a73e8;
}

#nextbutton {
    display: flex;
    height: 70%;
    width: 20%;
    background-color: #1a73e8;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

#rightsection {
    display: flex;
    height: 50%;
    width: 30%;
    /* border: 2px solid red; */
    justify-content: center;
    align-content: end;
    flex-direction: column;
}
#footer {
    display: flex;
    height: 7%;
    width: 55%;
    /* background-color: #0a50dc; */
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#language {
    display: flex;
    height: auto;
    width: 35%;
    /* background-color: yellowgreen; */
}

#helpPT {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 40%;
    justify-content: end;
    /* background-color: rgb(144, 130, 238); */
}

#helpTerm {
    display: flex;
    height: auto;
    width: 30%;
    align-items: end;
    justify-content: end;
    /* background-color: rgb(164, 130, 238); */
}

#privacy {
    display: flex;
    height: auto;
    width: 40%;
    align-items: end;
    justify-content: end;
    /* background-color: rgb(130, 238, 135); */
}