.SaveNoteContainerclass {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    margin-top: 25px;
    top: 10vh; 
    row-gap: 25px;
    column-gap: 25px;
    
}
.Trash {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    margin-top: 25px;
    top: 10vh; 
    row-gap: 25px;
    column-gap: 25px;
    
}
.Archive {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    margin-top: 25px;
    top: 10vh; 
    row-gap: 25px;
    column-gap: 25px;
}
.searchresult {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: aqua; */
    /* border: 2px solid red; */
    margin-top: 25px;
    top: 10vh; 
    row-gap: 25px;
    column-gap: 25px;
}


.takenote3 {
    display: flex;
    min-height: auto;
    width: 22vw;
    border-radius: 10px;
    /* background-color: yellow; */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 12px 5px 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 45%), -2px -2px 5px rgb(0 0 0 / 10%);
}

.takenote3title {
    display: flex;
    height: 15%;
    width: 100%;
    /* background-color: rgb(12, 233, 144); */
    font-size: 120%;
    align-items: center;
    color: .202124;
    justify-content: space-between;
}

.takenote3titlefield {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: large;
    /* background-color: yellowgreen; */
    border: 1px solid white;
    size: 45%;
    border :none;
    outline: none;
}
.takenote3inputfield {
    display: flex;
    min-height: 100px;
    width: 100%;
    font-size: large;
    /* background-color: yellowgreen; */
    border: 1px solid white;
    size: 45%;
    word-wrap: break-word;
    border :none;
    outline: none;
}

.takenote3footer {
    display: flex;
    height: 18%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
}

.takenote3footericon {
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    /* background-color: wheat; */
}

.iconbackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.iconbackground:hover{
    background-color: #F1F3F4;
}
.takenote3icon{
    height: 20px;
    width: 20px;
}

.restoreButton{
    display: flex;
    outline: none;
    border: none;  
}
.restoreButton:hover{
    background-color: white;
}